.menu-button-a {
    margin-right: 2em;
    max-width: 30%;
    width: 9em;
    border-radius: 5%;
    }

.logo {
    position: absolute;
    right: 20em;
    top: 2em;

}
@media (max-width: 1300px){
    .logo {right: 1em}
}
@media (max-width: 900px){
    .logo {display: none}
  
}
